#maincontent .DataTableView,
.DataTableView {
  .dataTables_wrapper {
    margin: 10px 0 0 0;

    .dataTables_filter {
      margin: 0 0 10px 0;

      label {
        margin-bottom: 0;
      }
    }

    .dataTables_info {
      margin: 0 0 10px 0;
      padding: 7px 0;
    }

    .dataTables_length {
      margin: 0 0 10px 0;

      label {
        margin-bottom: 0;
      }
    }

    .dataTables_paginate {
      margin: 0 0 10px 0;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      ul.pagination {
        float: right;
        padding: 0;
      }
    }

    .table-responsive {
      margin: 0 0 10px 0;

      table.dataTable {
        margin: 0 !important;

        td, th {
          min-width: 200px;
        }

        tfoot {
          td {
            input,
            select {
              width: 100%;
            }
          }
        }
      }
    }

    .dt-buttons {
      display: none;
    }
  }
}
